<!-- Context Selector -->
{% for field in form %}
<div class="form-control mt-4">
  <label class="label">
    <span class="label-text font-medium">{{ field.label }}{% if field.field.required %} <span class="text-error">*</span>{% endif %}</span>
  </label>
  {{ field }}
  {% if field.help_text %}
  <label class="label"><span class="label-text-alt">{{ field.help_text }}</span></label>
  {% endif %}
  {% if field.errors %}
  <label class="label"><span class="label-text-alt text-error">{{ field.errors.0 }}</span></label>
  {% endif %}
</div>
{% endfor %}
